.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 8px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search, .search-result {
    width: 361px;
}
.search {
    position: relative;
    height: 46px;
    padding-left: 16px;
    display: flex;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        border: none;
        outline: none;
        caret-color: var(--primary);
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(23, 24, 35, 0.75);
    }

    &::after {
        position: absolute;
        content: "";
        height: 28px;
        width: 1px;
        top: 9px;
        right: 52px;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.3);
    }
}

.search-result {
    padding-top: 8px;
}

.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
       background-color: rgba(22, 24, 35, 0.06);
    }
}
.clear, .loading {
    border: none;
    outline: none;
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}